block append content

    section.section.schedule#schedule
        .content.has-text-centered
          .columns
            .column
              .timeline.is-centered
                .timeline-header
                  h1.is-primary Friday
                .timeline-item
                  .timeline-marker
                  .timeline-content
                    p.heading Checkin - 5:30 PM
                .timeline-item
                  .timeline-marker
                  .timeline-content
                    p.heading 6:00 PM - Dinner
                .timeline-item
                  .timeline-marker
                  .timeline-content
                    p.heading Sponsor Expo - 6:00 PM
                .timeline-item
                  .timeline-marker
                  .timeline-content
                    p.heading 7:45PM - Opening Ceremony
                .timeline-item
                  .timeline-marker
                  .timeline-content
                    p.heading Hacking Begins - 9:00 PM

            .column
              .timeline.is-centered
                .timeline-header
                  h1.is-primary Saturday
                .timeline-item
                  .timeline-marker
                  .timeline-content
                    p.heading Midnight Snack - 12:00 AM
                .timeline-item
                  .timeline-marker
                  .timeline-content
                    p.heading 7:00 AM - Breakfast
                .timeline-item
                  .timeline-marker
                  .timeline-content
                    p.heading Lunch - 12:00 Pm
                .timeline-item
                  .timeline-marker
                  .timeline-content
                    p.heading 6:30 PM - Dinner
                .timeline-item
                  .timeline-marker
                  .timeline-content
                    p.heading Cup Stacking Contest - 9:00 PM
            .column
              .timeline.is-centered
                .timeline-header
                  h1.is-primary Sunday
                .timeline-item
                  .timeline-marker
                  .timeline-content
                    p.heading Midnight Snack - 12:00 AM
                .timeline-item
                  .timeline-marker
                  .timeline-content
                    p.heading 7:00 AM - Breakfast
                .timeline-item
                  .timeline-marker
                  .timeline-content
                    p.heading Hacking Ends - 9:00 AM
                .timeline-item
                  .timeline-marker
                  .timeline-content
                    p.heading 1:00 PM - Closing Ceremony
                .timeline-item
                  .timeline-marker
                  .timeline-content
                    p.heading Embarking Home - 2:15 PM
