block append content

    section.section.schedule#schedule
        .content.has-text-centered
          .columns
            .column
              .timeline.is-centered
                .timeline-header
                  span.tag.is-medium.is-primary Friday
                .timeline-item
                  .timeline-marker.is-primary
                  .timeline-content
                    p.heading Checkin - 5:30
                .timeline-item
                  .timeline-marker.is-primary
                  .timeline-content
                    p.heading Dinner
                .timeline-item
                  .timeline-marker.is-primary
                  .timeline-content
                    p.heading Sponsor Expo
                .timeline-item
                  .timeline-marker.is-primary
                  .timeline-content
                    p.heading Opening Ceremony
                .timeline-item
                  .timeline-marker.is-primary
                  .timeline-content
                    p.heading Hacking Begins

            .column
              .timeline.is-centered
                .timeline-header
                  span.tag.is-medium.is-primary Saturday
                .timeline-item
                  .timeline-marker
                  .timeline-content
                    p.heading Checkin - 5:30
                .timeline-item
                  .timeline-marker
                  .timeline-content
                    p.heading Dinner
                .timeline-item
                  .timeline-marker
                  .timeline-content
                    p.heading Sponsor Expo
                .timeline-item
                  .timeline-marker
                  .timeline-content
                    p.heading Opening Ceremony
                .timeline-item
                  .timeline-marker
                  .timeline-content
                    p.heading Hacking Begins
            .column
              .timeline.is-centered
                .timeline-header
                  span.tag.is-medium.is-primary Sunday
                .timeline-item
                  .timeline-marker.is-primary
                  .timeline-content
                    p.heading Checkin - 5:30
                .timeline-item
                  .timeline-marker
                  .timeline-content
                    p.heading Dinner
                .timeline-item
                  .timeline-marker
                  .timeline-content
                    p.heading Sponsor Expo
                .timeline-item
                  .timeline-marker
                  .timeline-content
                    p.heading Opening Ceremony
                .timeline-item
                  .timeline-marker
                  .timeline-content
                    p.heading Hacking Begins
